BEGIN;

-- ============================================================
-- CATEGORIES (one per scope, multiple per scope for variety)
-- ============================================================
INSERT INTO categories (label, scope, slug, display_order) VALUES
  ('Technology',      'post',    'technology',       1),
  ('Design',          'post',    'design',           2),
  ('Business',        'post',    'business',         3),
  ('SaaS',            'product', 'saas',             1),
  ('Mobile App',      'product', 'mobile-app',       2),
  ('Web App',         'project', 'web-app',          1),
  ('Mobile',          'project', 'mobile',           2),
  ('Consulting',      'service', 'consulting',       1),
  ('Development',     'service', 'development',      2);

-- ============================================================
-- TAGS
-- ============================================================
INSERT INTO tags (slug, label) VALUES
  ('react',           'React'),
  ('nodejs',          'Node.js'),
  ('ui-ux',           'UI/UX'),
  ('fullstack',       'Full Stack'),
  ('postgresql',      'PostgreSQL'),
  ('typescript',      'TypeScript'),
  ('nextjs',          'Next.js'),
  ('supabase',        'Supabase'),
  ('mobile',          'Mobile'),
  ('branding',        'Branding');

-- ============================================================
-- SOCIAL LINKS
-- ============================================================
INSERT INTO social_links (platform, url) VALUES
  ('linkedin',   'https://linkedin.com/company/glyptika'),
  ('instagram',  'https://instagram.com/glyptika'),
  ('discord',    'https://discord.gg/glyptika');

-- ============================================================
-- PAGE CONTENT (all 5 pages)
-- ============================================================

-- ============================================================
-- SERVICES
-- ============================================================
INSERT INTO services (title, url, url_type, active, publish, display_order) VALUES
  ('Product Design',      NULL, 'internal', true,  true,  1),
  ('Web Development',     NULL, 'internal', true,  true,  2),
  ('Mobile Development',  NULL, 'internal', true,  true,  3),
  ('Brand Identity',      NULL, 'internal', true,  true,  4),
  ('Tech Consulting',     NULL, 'internal', true,  false, 5);
-- ============================================================
-- POSITIONS
-- ============================================================

-- Position items for Senior Full Stack Developer

-- Position items for UI/UX Designer

-- ============================================================
-- TEAM MEMBERS
-- ============================================================

-- ============================================================
-- PRODUCTS
-- ============================================================

-- Product tags
INSERT INTO product_tags (product_id, tag_id)
SELECT '22222222-0000-0000-0000-000000000001', id FROM tags WHERE slug IN ('react','nextjs','supabase','typescript');

INSERT INTO product_tags (product_id, tag_id)
SELECT '22222222-0000-0000-0000-000000000002', id FROM tags WHERE slug IN ('react','postgresql','typescript');

INSERT INTO product_tags (product_id, tag_id)
SELECT '22222222-0000-0000-0000-000000000003', id FROM tags WHERE slug IN ('fullstack','nodejs','postgresql');

-- Product categories
UPDATE products SET category_id = (SELECT id FROM categories WHERE slug = 'saas' AND scope = 'product')
WHERE id IN ('22222222-0000-0000-0000-000000000001','22222222-0000-0000-0000-000000000002');

UPDATE products SET category_id = (SELECT id FROM categories WHERE slug = 'saas' AND scope = 'product')
WHERE id = '22222222-0000-0000-0000-000000000003';

-- ============================================================
-- PRODUCT MODULES
-- ============================================================

-- ============================================================
-- MODULE PRICING
-- ============================================================

-- ============================================================
-- PROJECTS
-- ============================================================

-- Project tags
INSERT INTO project_tags (project_id, tag_id)
SELECT '44444444-0000-0000-0000-000000000001', id FROM tags WHERE slug IN ('react','typescript','postgresql');

INSERT INTO project_tags (project_id, tag_id)
SELECT '44444444-0000-0000-0000-000000000002', id FROM tags WHERE slug IN ('mobile','react','ui-ux');

INSERT INTO project_tags (project_id, tag_id)
SELECT '44444444-0000-0000-0000-000000000003', id FROM tags WHERE slug IN ('nextjs','supabase','fullstack');

-- Project categories
UPDATE projects SET category_id = (SELECT id FROM categories WHERE slug = 'web-app' AND scope = 'project')
WHERE id IN ('44444444-0000-0000-0000-000000000001','44444444-0000-0000-0000-000000000003');

UPDATE projects SET category_id = (SELECT id FROM categories WHERE slug = 'mobile' AND scope = 'project')
WHERE id = '44444444-0000-0000-0000-000000000002';

-- ============================================================
-- POSTS
-- ============================================================

-- Fix linkedin post - needs linkedin_url
UPDATE posts SET linkedin_url = 'https://linkedin.com/posts/glyptika-test-post'
WHERE id = '55555555-0000-0000-0000-000000000003';

-- Post categories
UPDATE posts SET category_id = (SELECT id FROM categories WHERE slug = 'technology' AND scope = 'post')
WHERE id IN ('55555555-0000-0000-0000-000000000001','55555555-0000-0000-0000-000000000002');

-- Post tags
INSERT INTO post_tags (post_id, tag_id)
SELECT '55555555-0000-0000-0000-000000000001', id FROM tags WHERE slug IN ('supabase','nodejs','postgresql');

INSERT INTO post_tags (post_id, tag_id)
SELECT '55555555-0000-0000-0000-000000000002', id FROM tags WHERE slug IN ('ui-ux','branding');

-- ============================================================
-- SAMPLE PROPOSAL (for admin endpoint testing)
-- ============================================================
INSERT INTO proposals (
  id, name, email, phone, company,
  subject, message,
  budget_type, budget_min, budget_max, budget_label,
  source_channel, priority, status
) VALUES (
  '66666666-0000-0000-0000-000000000001',
  'Rahul Verma',
  'rahul@example.com',
  '+91 98765 43210',
  'Verma Ventures',
  'Looking for a web app for our logistics team',
  'We need a custom dashboard to track our fleet in real time. Open to a SaaS solution or bespoke build.',
  'range', 500000, 1500000, 'Γé╣5L ΓÇô Γé╣15L',
  'website', 'high', 'new'
);

INSERT INTO proposal_services (proposal_id, service_id)
SELECT '66666666-0000-0000-0000-000000000001', id FROM services WHERE title = 'Web Development';

INSERT INTO proposal_products (proposal_id, product_id)
VALUES ('66666666-0000-0000-0000-000000000001', '22222222-0000-0000-0000-000000000001');

COMMIT;
